.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px; /* Optional: Adds space between the child divs */
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 1rem;
}

.date {
  font-weight: bold;
}

table {
  width: 100%;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr; /* Switch to a single column on smaller screens */
  }
}
