:host {
  display: block;
  min-height: 100%;
  background-color: var(--mat-app-background);
}

mat-card {
  padding: 2rem;
}

.alert {
  width: 100%;
  margin-top: 1rem;
}

.responsive-width {
  width: 100%;
  
  // Small devices (less than 768px)
  @media (max-width: 767.98px) {
    max-width: 90%;
  }

  // Medium devices and larger (768px and up)
  @media (min-width: 768px) {
    max-width: 60%;
  }
}














