:host {
  display: block;
  height: 100vh;
  background-color: var(--mat-app-surface);
}

mat-form-field {
  --mdc-outlined-text-field-outline-color: var(--mat-app-outline);
  --mdc-outlined-text-field-label-text-color: var(--mat-app-on-surface);
  --mdc-outlined-text-field-input-text-color: var(--mat-app-on-surface);
}

mat-card {
  background-color: var(--mat-app-surface-container);
  color: var(--mat-app-on-surface);
}