:host {
    transition: all 500ms ease-in-out;
}

.dark :host {
    color: white;
    --mdc-list-list-item-hover-label-text-color:var(--sys-on-secondary-container);
    --mdc-list-list-item-label-text-color:var(--sys-on-secondary-container);
    --mdc-list-list-item-leading-icon-color:white;
    --mdc-list-list-item-hover-leading-icon-color:var(--sys-on-secondary-contianer);
 }

