<div class="card-container">
  <mat-card *ngFor="let room of groupedRooms" class="card clickable-card" [routerLink]="['/inpatient', room.roomNo]">
    <mat-card-header>
      <mat-card-title [ngStyle]="{ color: room.emptyBeds > 0 ? 'green' : 'black' }">
        Room {{ room.roomNo }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Total Beds:</strong> {{ room.totalBeds }}</p>
      <p><strong>Occupied Beds:</strong> {{ room.occupiedBeds }}</p>
      <p [ngStyle]="{ color:room.emptyBeds > 0 ? 'green' : 'black' }">
        <strong>Available Beds:</strong> {{ room.emptyBeds }}
      </p>
    </mat-card-content>
  </mat-card>
</div>