mat-toolbar {
  position: sticky;
  mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .first-row {
    position: relative;
    z-index: 5;
    color: var(--sys-on-primary);
    background-color: var(--sys-primary);
  }

  .second-row {
    position: static;
    z-index: 5;
    background-color: var(--sys-inverse-surface);
    color: var(--sys-inverse-on-surface);
    height: 32px;
    font-size: small;
    button {
      border-radius: 4px;
      background-color: transparent;
      color: var(--sys-on-primary);
    }
  }
}

mat-icon {
  color: var(--sys-on-primary);
}

.spacer {
  flex: 1 1 auto;
}

.notification-icon {
  color: var(--sys-error-container);
}

.extended-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .mat-mdc-unelevated-button {
    --mdc-filled-button-container-color: var(--sys-primary);
    --mdc-filled-button-label-text-color: var(--sys-on-primary);
    --mdc-filled-button-label-text-size: 1rem;
  }
}
