mat-toolbar {
  position: sticky;
  mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .first-row {
    position: relative;
    z-index: 5;
    color: var(--mat-app-on-primary);
    background-color: var(--mat-app-primary);
    .mat-icon:not([role="alert"]){
      color: var(--mat-app-on-primary);
    }
  }

  .second-row {
    position: static;
    z-index: 5;
    background-color: var(--mat-app-inverse-surface);
    color: var(--mat-app-inverse-on-surface);
    height: 32px;
    font-size: small;
    button {
      border-radius: 4px;
      background-color: transparent;
      color: var(--mat-app-inverse-on-surface);
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.notification-icon {
  color: var(--mat-app-error-container);
}

.extended-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
