<div style="margin: 16px;">
    <!-- Child component for cards -->
    <app-cards></app-cards>

    <!-- Child components for charts  todo -->
    <div class="grid-container">
        <div class="grid-item">
            <app-line-chart></app-line-chart>
        </div>
        <div class="grid-item">
            <app-column-chart></app-column-chart>
        </div>
    </div>


    <!-- Child component for the table -->
    <div style="margin-top: 16px;">
        <app-patient-table></app-patient-table>
    </div>
</div>