<app-header [(collapsed)]="collapsed" (toggleDrawer)="drawer.toggle()" [isLargeScreen]="responseService.largeWidth()" />
<mat-sidenav-container>
  <mat-sidenav #drawer [opened]="responseService.largeWidth()" [mode]="sidenavMode()" [style.width]="sidenavWidth()"
    [fixedInViewport]="!responseService.largeWidth()" fixedTopGap="64">
    <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>