<app-header [(collapsed)]="collapsed" (toggleDrawer)="drawer.toggle()"
  [isLargeScreen]="responseService.isLargeScreen()" />
<mat-sidenav-container>
  <mat-sidenav #drawer [opened]="responseService.isLargeScreen()" [mode]="sidenavMode()" [style.width]="sidenavWidth()"
    [fixedInViewport]="!responseService.isLargeScreen()" fixedTopGap="0">
    <app-custom-sidenav [collapsed]="collapsed()" (toggleDrawer)="drawer.toggle()"></app-custom-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>