<!-- practitioner-schedule.component.html -->
<h2>Schedule Practitioner</h2>
<form [formGroup]="dateForm">
    <app-profile></app-profile>
    <div>
        <div>

            <mat-form-field>
                <mat-label>Practitioner</mat-label>
                <mat-select formControlName="practitionerId">
                    @for (prac of practitioners(); track prac) {
                    <mat-option [value]="prac.practitionerId">{{ prac.firstName + ' ' + prac.lastName }}</mat-option>
                    }

                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                @if (dateForm.controls.start.hasError('matStartDateInvalid')) {
                <mat-error>Invalid start date</mat-error>
                }
                @if (dateForm.controls.end.hasError('matEndDateInvalid')) {
                <mat-error>Invalid end date</mat-error>
                }
            </mat-form-field>
            <button mat-raised-button type="submit" (click)="createSchedule()">Create Schedule</button>
        </div>
        <div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                @for (column of displayedColumns; track column) {
                <ng-container [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ columnHeaders[column] }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element[column] }}
                    </td>
                </ng-container>
                }

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </div>

</form>