:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}
