:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.no-data-message {
  text-align: center;
  font-size: 16px;
  color: gray;
  margin: 20px 0;
}

.button-section {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
