.container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 1rem;
}

.container  > * {
  margin: 8px 0;
}

.container .mat-radio-button {
  margin: 0 12px;
}

.form-fields {
  display: flex;
  align-items: flex-start;
}

.admission-warning {
  display: flex;
  align-items: center;
  color: var(--mat-app-error);
  font-weight: bold;
  margin-top: 8px;
}

.admission-warning mat-icon {
  margin-right: 8px;
}

.full-width {
  width: 100%;
}

.patient-selection {
  display: flex;
  align-content: flex-start;
  align-items:baseline;
}

.end-button {
  flex: 1;
  display: flex;
  align-content: space-between;
}

button {
  margin-left: 8px;
}
