:host {
  --mdc-protected-button-disabled-container-color: var(--mat-app-secondary);
  --mdc-protected-button-container-color: var(--mat-app-primary);
  --mdc-protected-button-label-text-color: var(--mat-app-on-primary);
  --mdc-protected-button-disabled-label-text-color: var(--mat-app-on-primary);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: 1rem auto;
}

mat-card {
  width: 400px;
}

.title {
  display: block;
  text-align: center;
  margin: 1rem auto;
}



.full-width {
  width: 100%;
}

.error-message {
  color: var(--mat-app-error);
  font-size: 14px;
  margin-top: 10px;
}
