<form>
    <div class="profile-container">
        <div class="profile-content">
            <div class="image-container">
                <img alt="avatar" [src]="imagePath" />
            </div>
            <button type="button" style="border:1px solid blue;">todo update your image</button>
            <div>

                <label for="firstName">firstname</label>
                <input id="firstName" type="text" />

            </div>
            <div>

                <label for="lastName">lastname</label>
                <input id="lastName" type="text" />

            </div>
            <div>

                <label for="gender">gender</label>
                <input id="gender" type="text" />

            </div>
            <div>

                <label for="age">age</label>
                <input id="age" type="text" />

            </div>
        </div>
    </div>
</form>