<ng-container *transloco="let t">
<a class="menu-item" mat-list-item [ngStyle]="{ 'padding-left': ((depth === undefined || collapsed() ) ? 0 : depth) * 12 + 'px' }"
  (click)="onItemSelected(item())" [ngClass]="{
    active: item().route ? router.isActive(item().route??'', true) : false,
    expanded: expanded
  }" [matTooltip]="collapsed()?item().label:''" [matTooltipPosition]="'right'"
  [attr.aria-label]="collapsed()?item().label:''">
  <mat-icon matListItemIcon>{{ item().icon }}</mat-icon>
  @if (!collapsed()) {
  <span matListItemTitle>{{ t(item().label.toLowerCase()) }}
  </span>
  }
  @if (item().subItems?.length??0 > 0)
  {
  <span matListItemMeta>
    <mat-icon [@expandCollapseMenu]="expanded() ? 'expanded' : 'collapsed'">expand_more</mat-icon>
  </span>
  }
</a>
@if (expanded()) {
<ng-container>
  @for(child of item().subItems; track child.label) {
  <app-menu-item [item]="child" [depth]="(depth === undefined ? 0 : depth) + 1" [collapsed]="collapsed()">
  </app-menu-item>
  }
</ng-container>
}
</ng-container>