:host {
  transition: all 500ms ease-in-out;
}

.dark :host {
  --mdc-list-list-item-label-text-color: var(--sys-on-surface);
  --mdc-list-list-item-leading-icon-color: var(--sys-on-surface);
  --mat-list-active-indicator-color: var(--sys-secondary-container);
}

.dark :host:hover {
  --mdc-list-list-item-hover-label-text-color: var(--sys-on-surface-variant);
  --mdc-list-list-item-hover-leading-icon-color: var(--sys-on-surface-variant);
}

.menu-item {
  border-left: 5px solid;
  border-left-color: rgba(0, 0, 0, 0);
}

.selected-menu-item {
  border-left-color: var(--sys-primary);
}

.indented {
  --mat-list-list-item-leading-icon-start-space: 48px;
}
